In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

In [6]:
import gdown
import os

if not os.path.exists("dataset"): # download the dataset if it doesn't exist
    os.makedirs("dataset", exist_ok=True)

    output = "dataset/road_aci_ds.zip"

    url = "https://drive.google.com/file/d/1edKrdWNOcgbAo2JtckX-PEyM0FdEq4EG/view?usp=drive_link"
    gdown.download(url=url, output=output, fuzzy=True)

    from zipfile import ZipFile
    with ZipFile(output, 'r') as zip_ref:
        zip_ref.extractall("dataset/")

In [13]:
df = dd.read_csv("./dataset/US_Accidents_March23.csv")

In [14]:
df = df.drop(["Source", "ID"], axis=1).compute() # Drop columns

In [16]:
df

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,Right lane blocked due to accident on I-70 Eas...,I-70 E,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173285,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,At Market St - Accident.,Pomona Fwy E,...,False,False,False,False,False,False,Day,Day,Day,Day
173286,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,I-8 W,...,False,False,False,False,False,False,Day,Day,Day,Day
173287,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,Garden Grove Fwy,...,False,False,False,False,False,False,Day,Day,Day,Day
173288,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,San Diego Fwy S,...,False,False,False,False,False,False,Day,Day,Day,Day
173289,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,CA-210 W,...,False,False,False,False,False,False,Day,Day,Day,Day

In [17]:
# row and columns (r,c)
df.shape

(7728394, 44)

In [ ]:
# datetime in pandas format
# First attempt to parse with the primary format YYMMDD HH:MM:SS
df['Start_Time'] = dd.to_datetime(df['Start_Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')
df['End_Time'] = dd.to_datetime(df['End_Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

/home/infinity/Desktop/texhstarx assignment/venv/lib/python3.10/site-packages/dask_expr/_expr.py:1471: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  return get_meta_library(args[0]).to_datetime(*args, **kwargs)
/home/infinity/Desktop/texhstarx assignment/venv/lib/python3.10/site-packages/dask_expr/_expr.py:1471: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  return get_meta_library(args[0]).to_datetime(*args, **kwargs)

:

In [1]:
df.head(5)cd

NameError: name 'df' is not defined

In [7]:
#type of data
type(df["Start_Time"])

pandas.core.series.Series

In [10]:
df[df["Start_Time"].isnull() | df["End_Time"].isnull()] # checking if there are any null values in the datetime columns

Empty DataFrame
Columns: [Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Street, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 44 columns]

In [11]:
df.iloc[3639775]

Severity                                                           2
Start_Time                             2017-07-23 04:21:01.000000000
End_Time                               2017-07-23 10:21:01.000000000
Start_Lat                                                   34.06265
Start_Lng                                                 -118.00068
End_Lat                                                     34.06194
End_Lng                                                    -118.0007
Distance(mi)                                                   0.049
Description              Ramp to I-10/San Bernardino Fwy - Accident.
Street                                                       I-605 S
City                                                    Baldwin Park
County                                                   Los Angeles
State                                                             CA
Zipcode                                                        91706
Country                                                           US
Timezone                                                  US/Pacific
Airport_Code                                                    KEMT
Weather_Timestamp                                2017-07-23 07:45:00
Temperature(F)                                                  71.6
Wind_Chill(F)                                                    NaN
Humidity(%)                                                     83.0
Pressure(in)                                                    29.9
Visibility(mi)                                                   9.0
Wind_Direction                                                  Calm
Wind_Speed(mph)                                                  NaN
Precipitation(in)                                                NaN
Weather_Condition                                              Clear
Amenity                                                        False
Bump                                                           False
Crossing                                                       False
Give_Way                                                       False
Junction                                                       False
No_Exit                                                        False
Railway                                                        False
Roundabout                                                     False
Station                                                        False
Stop                                                           False
Traffic_Calming                                                False
Traffic_Signal                                                 False
Turning_Loop                                                   False
Sunrise_Sunset                                                 Night
Civil_Twilight                                                 Night
Nautical_Twilight                                              Night
Astronomical_Twilight                                            Day
Name: 3639775, dtype: object

In [12]:
df.head(20)

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,...,False,False,False,False,True,False,Day,Day,Day,Day
5,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.01,Accident on I-270 Outerbelt Northbound near Ex...,Westerville Rd,...,False,False,False,False,False,False,Day,Day,Day,Day
6,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,0.00,Accident on Oakridge Dr at Woodward Ave. Expec...,N Woodward Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
7,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,0.01,Accident on I-75 Southbound at Exit 54B Grand ...,N Main St,...,False,False,False,False,False,False,Day,Day,Day,Day
8,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,0.00,Accident on Notre Dame Ave at Warner Ave. Expe...,Notre Dame Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
9,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,0.01,Right hand shoulder blocked due to accident on...,Westerville Rd,...,False,False,False,False,False,False,Day,Day,Day,Day
10,3,2016-02-08 08:14:42,2016-02-08 08:44:42,39.952812,-83.119293,NaN,NaN,0.01,Accident on I-270 Outerbelt Northbound at Exit...,Outerbelt S,...,False,False,False,False,False,False,Day,Day,Day,Day
11,3,2016-02-08 08:21:27,2016-02-08 08:51:27,39.932709,-82.830910,NaN,NaN,0.01,One lane blocked due to accident on I-70 Westb...,I-70 E,...,False,False,False,False,False,False,Day,Day,Day,Day
12,2,2016-02-08 08:36:34,2016-02-08 09:06:34,39.737633,-84.149933,NaN,NaN,0.00,Accident on Revere Ave at Watervliet Ave. Expe...,Watervliet Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
13,2,2016-02-08 08:37:07,2016-02-08 09:07:07,39.790760,-84.241547,NaN,NaN,0.01,Accident on Salem Ave at Hillcrest Ave / Kensi...,Salem Ave,...,False,False,False,False,True,False,Day,Day,Day,Day
14,2,2016-02-08 08:39:43,2016-02-08 09:09:43,39.972038,-82.913521,NaN,NaN,0.01,Accident on OH-16 Broad St at James Rd. Expect...,E Broad St,...,False,False,False,False,True,False,Day,Day,Day,Day
15,2,2016-02-08 08:43:20,2016-02-08 09:13:20,39.745888,-84.170410,NaN,NaN,0.01,Accident on Wayne Ave at Glencoe Ave. Expect d...,Glencoe Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
16,2,2016-02-08 08:53:17,2016-02-08 09:23:17,39.748329,-84.224007,NaN,NaN,0.01,Accident on James H McGee Blvd at US-35. Expec...,S James H McGee Blvd,...,False,False,False,False,False,False,Day,Day,Day,Day
17,2,2016-02-08 09:24:37,2016-02-08 09:54:37,39.752174,-84.239952,NaN,NaN,0.00,Accident on Delphos Ave at Brooklyn Ave. Expec...,Delphos Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
18,2,2016-02-08 09:25:17,2016-02-08 09:55:17,39.740669,-84.184135,NaN,NaN,0.01,Accident on Stewart St near Rubicon St. Expect...,Rubicon St,...,False,False,False,False,True,False,Day,Day,Day,Day
19,2,2016-02-08 09:35:35,2016-02-08 10:05:35,39.790703,-84.244461,NaN,NaN,0.01,Accident on Hillcrest Ave at Piccadilly Ave. E...,W Hillcrest Ave,...,False,False,False,False,False,False,Day,Day,Day,Day

In [13]:
df.columns

Index(['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Street', 'City',
       'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [14]:
df.head(10)

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,...,False,False,False,False,False,False,Night,Night,Night,Night
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,...,False,False,False,False,False,False,Night,Day,Day,Day
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,...,False,False,False,False,True,False,Day,Day,Day,Day
5,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,NaN,NaN,0.01,Accident on I-270 Outerbelt Northbound near Ex...,Westerville Rd,...,False,False,False,False,False,False,Day,Day,Day,Day
6,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,NaN,NaN,0.00,Accident on Oakridge Dr at Woodward Ave. Expec...,N Woodward Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
7,3,2016-02-08 07:59:58,2016-02-08 08:29:58,39.770382,-84.194901,NaN,NaN,0.01,Accident on I-75 Southbound at Exit 54B Grand ...,N Main St,...,False,False,False,False,False,False,Day,Day,Day,Day
8,2,2016-02-08 08:00:40,2016-02-08 08:30:40,39.778061,-84.172005,NaN,NaN,0.00,Accident on Notre Dame Ave at Warner Ave. Expe...,Notre Dame Ave,...,False,False,False,False,False,False,Day,Day,Day,Day
9,3,2016-02-08 08:10:04,2016-02-08 08:40:04,40.100590,-82.925194,NaN,NaN,0.01,Right hand shoulder blocked due to accident on...,Westerville Rd,...,False,False,False,False,False,False,Day,Day,Day,Day

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 44 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Severity               int64
 1   Start_Time             object
 2   End_Time               object
 3   Start_Lat              float64
 4   Start_Lng              float64
 5   End_Lat                float64
 6   End_Lng                float64
 7   Distance(mi)           float64
 8   Description            object
 9   Street                 object
 10  City                   object
 11  County                 object
 12  State                  object
 13  Zipcode                object
 14  Country                object
 15  Timezone               object
 16  Airport_Code           object
 17  Weather_Timestamp      object
 18  Temperature(F)         float64
 19  Wind_Chill(F)          float64
 20  Humidity(%)            float64
 21  Pressure(in)           float64
 22  Visibility(mi)         float64
 23  Wind_Direction         object
 24  Wind_Speed(mph)        float64
 25  Precipitation(in)      float64
 26  Weather_Condition      object
 27  Amenity                bool
 28  Bump                   bool
 29  Crossing               bool
 30  Give_Way               bool
 31  Junction               bool
 32  No_Exit                bool
 33  Railway                bool
 34  Roundabout             bool
 35  Station                bool
 36  Stop                   bool
 37  Traffic_Calming        bool
 38  Traffic_Signal         bool
 39  Turning_Loop           bool
 40  Sunrise_Sunset         object
 41  Civil_Twilight         object
 42  Nautical_Twilight      object
 43  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(18)
memory usage: 1.9+ GB

In [16]:
# printing all the columns and there missing values
for col in df.columns:
    missing = df[col].isnull().sum()
    percent_missing = missing / len(df) * 100
    print(f"{col} - {missing} missing values ({percent_missing:.2f}%)")

Severity - 0 missing values (0.00%)
Start_Time - 0 missing values (0.00%)
End_Time - 0 missing values (0.00%)
Start_Lat - 0 missing values (0.00%)
Start_Lng - 0 missing values (0.00%)
End_Lat - 3402762 missing values (44.03%)
End_Lng - 3402762 missing values (44.03%)
Distance(mi) - 0 missing values (0.00%)
Description - 5 missing values (0.00%)
Street - 10869 missing values (0.14%)
City - 253 missing values (0.00%)
County - 0 missing values (0.00%)
State - 0 missing values (0.00%)
Zipcode - 1915 missing values (0.02%)
Country - 0 missing values (0.00%)
Timezone - 7808 missing values (0.10%)
Airport_Code - 22635 missing values (0.29%)
Weather_Timestamp - 120228 missing values (1.56%)
Temperature(F) - 163853 missing values (2.12%)
Wind_Chill(F) - 1999019 missing values (25.87%)
Humidity(%) - 174144 missing values (2.25%)
Pressure(in) - 140679 missing values (1.82%)
Visibility(mi) - 177098 missing values (2.29%)
Wind_Direction - 175206 missing values (2.27%)
Wind_Speed(mph) - 571233 missing values (7.39%)
Precipitation(in) - 2203586 missing values (28.51%)
Weather_Condition - 173459 missing values (2.24%)
Amenity - 0 missing values (0.00%)
Bump - 0 missing values (0.00%)
Crossing - 0 missing values (0.00%)
Give_Way - 0 missing values (0.00%)
Junction - 0 missing values (0.00%)
No_Exit - 0 missing values (0.00%)
Railway - 0 missing values (0.00%)
Roundabout - 0 missing values (0.00%)
Station - 0 missing values (0.00%)
Stop - 0 missing values (0.00%)
Traffic_Calming - 0 missing values (0.00%)
Traffic_Signal - 0 missing values (0.00%)
Turning_Loop - 0 missing values (0.00%)
Sunrise_Sunset - 23246 missing values (0.30%)
Civil_Twilight - 23246 missing values (0.30%)
Nautical_Twilight - 23246 missing values (0.30%)
Astronomical_Twilight - 23246 missing values (0.30%)

In [17]:
#checking for outliers
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,7.728394e+06,7.728394e+06,7.728394e+06,4.325632e+06,4.325632e+06,7.728394e+06,7.564541e+06,5.729375e+06,7.554250e+06,7.587715e+06,7.551296e+06,7.157161e+06,5.524808e+06
mean,2.212384e+00,3.620119e+01,-9.470255e+01,3.626183e+01,-9.572557e+01,5.618423e-01,6.166329e+01,5.825105e+01,6.483104e+01,2.953899e+01,9.090376e+00,7.685490e+00,8.407210e-03
std,4.875313e-01,5.076079e+00,1.739176e+01,5.272905e+00,1.810793e+01,1.776811e+00,1.901365e+01,2.238983e+01,2.282097e+01,1.006190e+00,2.688316e+00,5.424983e+00,1.102246e-01
min,1.000000e+00,2.455480e+01,-1.246238e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.339963e+01,-1.172194e+02,3.346207e+01,-1.177543e+02,0.000000e+00,4.900000e+01,4.300000e+01,4.800000e+01,2.937000e+01,1.000000e+01,4.600000e+00,0.000000e+00
50%,2.000000e+00,3.582397e+01,-8.776662e+01,3.618349e+01,-8.802789e+01,3.000000e-02,6.400000e+01,6.200000e+01,6.700000e+01,2.986000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.008496e+01,-8.035368e+01,4.017892e+01,-8.024709e+01,4.640000e-01,7.600000e+01,7.500000e+01,8.400000e+01,3.003000e+01,1.000000e+01,1.040000e+01,0.000000e+00
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,4.417500e+02,2.070000e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03,3.647000e+01

In [29]:
pd.to_datetime(df.iloc[0, 2])

Timestamp('2016-02-08 11:00:00')